<!DOCTYPE html>
<html>
  <head>
    <title>Student Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Student Home Page </h1>
    <ul>
            <p>SBUID: <%= users.sbuId %></p>
        </ul>
  </body>
</html>